{% extends "base.html" %}
{% block title %}Module Choice{% endblock %}

{% block content %}
    <h1>Choose Modules</h1>

<p>
    <table>
    <tr>
        <th>Module</th>
        <th>Add to your tasks</th>
    </tr>
    {% for module in modules_list %}
    <tr>
        <td>{{ module }}</td>
        <td><a href="{{ url_for('module_add', module=module) }}">Add Tasks</a></td>
    </tr>
    {% endfor %}
    </table>
<br>
    <a href="{{ url_for('task_display') }}">Return to Task Display</a>
</p>
{% endblock %}