{% extends "base.html" %}
{% block title %}Task Display{% endblock %}

{% block content %}
<h1>Task Display</h1>
<form method="GET">
        Choose Task Type:<select name="task_type" onchange="this.form.submit()">
            <option value="allTasks" selected="selected">Show all tasks</option>
            <option value="exam"
                    {% if task_type=="exam"%}selected{%endif%}>
                Show exams
            </option>
            <option value="groupProject"
                    {% if task_type=="groupProject"%}selected{%endif%}>
                Show group projects
            </option>
            <option value="coursework"
                            {% if task_type=="coursework"%}selected{%endif%}>
                        Show coursework tasks
            </option>
            <option value="customTasks"
                            {% if task_type=="customTasks"%}selected{%endif%}>
                        Show custom tasks
            </option>
        </select><br>
        Select Display Order:<select name="order" onchange="this.form.submit()">
            <option value="" selected="selected">No order</option>
            <option value="name"
               {% if order=="name"%}selected{% endif %}>
               By name
            </option>
            <option value="type"
                {% if order=="type"%}selected{% endif %}>
               By task type
            </option>
            <option value="module"
                {% if order=="module"%}selected{% endif %}>
               By module
            </option>
            <option value="points"
                {% if order=="points"%}selected{% endif %}>
               By points
            </option>
            <option value="due_date"
                {% if order=="due_date"%}selected{% endif %}>
               By due date
            </option>
        </select>
</form>
<h2>Tasks Sorted</h2>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Type</th>
        <th>Module</th>
        <th>Points</th>
        <th>Due Date</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <th>{{ task.name }}</th>
        <th>{{ task.description }}</th>
        <th>{{ task.type }}</th>
        <th>{{ task.module }}</th>
        <th>{{ task.points }}</th>
        {% if (task.due_date - now).days <= 7 and (task.due_date - now).days >= 0 %}
            <th><em>{{ task.due_date }}</em></th>
        {% else %}
            <th>{{ task.due_date }}</th>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock %}